.th_style_blue{
    background-color: #3896e8 !important;
    color: white !important;
}
.th_style_green{
    background-color: green !important;
    color: white !important;
}
.th_style_orange{
    background-color: #FF5733 !important;
    color: white !important;
}